<nav class="navbar navbar-setup fixed-top">
    <a class="navbar-brand" routerLink="/Welcome">
      <img class="web-img-icon-t" src="assets/favicon.ico" alt="JDevs-ico">
    </a>

    <div class="topnav" id="myTopnav">
      <a href="">&nbsp;</a>
      <a id="navHome" class="nav-item nav-link active" href="#Accueil" (click)="currentActive('Home')">Accueil</a>
      <a id="navSkills" class="nav-item nav-link" href="#Mes-Compétences" (click)="currentActive('Skills')">Mes Compétences</a>
      <a id="navEducation" class="nav-item nav-link" href="#Diplôme" (click)="currentActive('Education')">Diplôme</a>
      <a id="navProjects" class="nav-item nav-link" href="#Mes-Projets" (click)="currentActive('Projects')">Mes Projets</a>
      <a id="navContact" class="nav-item nav-link" href="#Contact" (click)="currentActive('Contact')">Contact</a>
      <a href="javascript:void(0);" style="font-size:20px;" class="icon" (click)="myFunction()"><i class="fa fa-bars"></i></a>
    </div>
  </nav>
