<nav class="navbar navbar-setup fixed-top">
    <a class="navbar-brand" routerLink="/Welcome">
      <img class="web-img-icon-t" src="assets/favicon.ico" alt="JDevs-ico">
    </a>

    <div class="topnav" id="myTopnav">
      <a href="">&nbsp;</a>
      <a id="navHome" class="nav-item nav-link active" href="#home" (click)="currentActive('Home')">Home</a>
      <a id="navSkills" class="nav-item nav-link" href="#skills" (click)="currentActive('Skills')">Skills</a>
      <a id="navEducation" class="nav-item nav-link" href="#education" (click)="currentActive('Education')">Education</a>
      <a id="navProjects" class="nav-item nav-link" href="#myprojects" (click)="currentActive('Projects')">My Projects</a>
      <a id="navContact" class="nav-item nav-link" href="#contact" (click)="currentActive('Contact')">Contact</a>
      <a id="navAdmin-login" class="nav-item nav-link" href="#Admin-Only" (click)="AdminAuthentification()"><i class="fas fa-unlock-alt fa-lg"></i></a>
      <a href="javascript:void(0);" style="font-size:20px;" class="icon" (click)="myFunction()"><i class="fa fa-bars"></i></a>
    </div>
  </nav>
