<nav class="navbar navbar-setup">
    <a class="navbar-brand" routerLink="/loginSignIn">JDevs</a>

    <div class="topnav" id="myTopnav">
      <a class="nav-item nav-link active" routerLink="/wall">Home</a>
      <a class="nav-item nav-link" href="#">Skills</a>
      <a class="nav-item nav-link" href="#">Education</a>
      <a class="nav-item nav-link" href="#">My Projects</a>
      <a class="nav-item nav-link" href="#">Contact</a>
      <a href="javascript:void(0);" style="font-size:20px;" class="icon" (click)="myFunction()"><i class="fa fa-bars"></i></a>
    </div>
  </nav>