section#Diplôme{
    margin: 150px auto;
    padding-top: 125px;
}

section#Diplôme h2{
    color: white;
}

section#Diplôme .resumeBody-txt{
    margin: 25px 10px 75px 10px;
    padding: 0;
    color: white;
}