<section id="Diplôme" class="container text-center content-section-grey">
  <div class="row">
    <div>
      <h2><i class="fa fa-graduation-cap"></i> Diplôme</h2>
      <p class="resumeBody-txt col-lg-8 mx-auto" *ngFor="let home of homes"> {{home.resumeBody}} </p>
      <ul class="col-lg-8 mx-auto list-group text-left">
        <li class="list-group-item flex-column align-items-start" *ngFor="let education of educations;">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">{{education.diplomaName}}</h3>
            <small style="text-align: end;">{{education.period}}</small>
          </div>
          <p id="modify-data" class="mb-1">A Étudié : {{education.name}}</p>
          <p>De {{education.address}} </p>
        </li>
      </ul>
    </div>
  </div>
</section>