.navbar-setup{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.navbar-setup i{
    color: black;
}

.navbar-setup a{
    color: white;
}

div#made-by{
    width: 100%;
    text-align: right;
    padding-right: 4%;
    padding-bottom: 1%;
    color: white;
}

#made-by li{
    list-style-type: none;
    text-align: center;
}