<!-- <nav class="navbar navbar-setup">
    <div class="navbar-expand m-auto navbar-text">
      <p>Made with <i class="fa fa-heart"></i> by JDevs</p>
    </div>
  </nav> -->
<div class="navbar-setup">
  <nav class="navbar text-center">
      <a class="navbar-brand ml-5" routerLink="/wall">JDevs</a>
      <div class="navbar-expand mr-auto">

      </div>
      <div class="navbar-expand mr-auto navbar-nav">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/wall">Home</a>
            <a class="nav-item nav-link" href="#">Skills</a>
            <a class="nav-item nav-link" href="#">Education</a>
            <a class="nav-item nav-link" href="#">My Projects</a>
            <a class="nav-item nav-link" href="#">Contact</a>
  
          <!-- <a class="nav-item nav-link" href="https://github.com/JDevs10" target="_blank">
            <i class="fa fa-github"></i>
          </a>
          <a class="nav-item nav-link" href="https://www.linkedin.com/in/jean-laurent-duzant-580287171" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
          <a class="nav-item nav-link" href="https://www.instagram.com/jeanlaurentduzant" target="_blank">
            <i class="fa fa-instagram"></i>
          </a> -->
  
        </div>
      </div>
  </nav>
  
  <div id="made-by">
    <ul>
      <li>Made with <i class="fa fa-heart"></i> by JDevs</li>
    </ul>
  </div>
</div>