.contactForm{
    text-align: left;
}

section div{
    height: 100%;
}

.box{
    width: 50%;
}

.google-map-card{
    padding: 20px;
}

iframe{
    height: 340px;
    width: 100%;
}

input[type='text']{
    width: 70%;
}

textarea{
    width: 70%;
}

.hidden-mobile{
    color: white;
    font-size: 23px;
    margin: 0 0 50px 0;
    display: none;
}

@media (max-width: 480px){
    .hidden-mobile{
        display: block;
    }
}