<section id="contact" class="text-center">
  <div class="row">
      <!-- contact text info -->
        <div class="hidden-mobile">
            <p>Mon numéro téléphone <i class="fa fa-phone-square"></i> 0766112937</p>
        </div>
    <div class="row box col-lg-6 col-md-6 col-12">
        <div class="col-12">
            <form class="contactForm" method="post" action="sendMail.php" onsubmit="return checkforblank()">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon text-info p-2">
                            <i class="fa fa-user fa-2x"></i>
                        </span>
                        <input id="user_name" class="from-control bg-dark text-white" type="text" name="userName" placeholder="Nom">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon text-info p-2">
                            <i class="fa fa-envelope fa-2x"></i>
                        </span>
                        <input id="user_email" class="from-control bg-dark text-white" type="text" name="userEmail" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon text-info p-2">
                            <i class="fa fa-comment fa-2x"></i>
                        </span>
                        <textarea id="user_msg" class="from-control bg-dark text-white" name="userMsg" rows="4" cols="70" placeholder="Que voulez-vous me dire..."></textarea>
                    </div>
                </div>
                <!--button-->
                <input id="contact_submit" type="submit" name="submit" class="btn btn-danger" value="Envoyer">
            </form>
        </div>
    </div>

    <div class="box col-lg-6 col-md-6 col-12">
      <div class="google-map-card">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.1906704438184!2d2.4010846152015013!3d48.854574408930105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e672787da24705%3A0x4c5fdd1f4a843f17!2s72+Rue+des+Haies%2C+75020+Paris!5e0!3m2!1sen!2sfr!4v1544745792813" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>