{% extends 'base.html.twig' %}

{% block body %}
<h1> Welcome Admin to your Portfolio Manager Home</h1>

{% if app.user != null %}
    {{dump(app.user)}}
    <a href="http://localhost/JL-Portfolio-Angular/Symfony-API/public/logout">Logout !!!</a>
{% endif %}

{% endblock %}