<section id="myprojects">
  <div class="container">
      <h1>Mes Projects</h1>
      <br>
    <div class="row">
      <div class="col-md-4 col-lg-4" *ngFor="let project of projects">
        <div class="card mb-4 shadow-sm">
          <a class="text-center p-2" href="{{project.workLink}}" target="_blank"><h3>{{project.title}}</h3></a>
          <div class="card-body">
            <p class="card-text"> {{project.text}} </p>
            <div class="row">
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{project.date.date | date:'dd/MM/yyyy'}}</small>
              </div>
              <div class="project-type">
                &nbsp;<i class="{{project.type}}"></i>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</section>