#Accueil{
    background: url("../../assets/header-bg.jpeg")  no-repeat bottom center scroll;
    background-size: auto;

    height: auto;
    width: 100%;
    padding: 200px 75px 200px 75px;
    text-align: center;
}

#Accueil h1{
    font-size: 50px;
    text-transform: uppercase;
    color: white;
}

#Accueil p{
    color: white;
}

#Mes-Compétences{
    color: white;
    padding-top: 125px;
}