#home{
    background: url("../../assets/header-bg.jpeg")  no-repeat bottom center scroll;
    background-size: auto;

    height: auto;
    width: 100%;
    padding: 200px 75px 200px 75px;
    text-align: center;
}

#home h1{
    font-size: 50px;
    text-transform: uppercase;
    color: white;
}

#home p{
    color: white;
}

#skills{
    color: white;
}